<%- include('./partials/header.ejs'); %>
  <% user.cart.forEach((item)=>{ %>
    <div class="flex gap-8 w-full px-10 py-10 text-white">
      <div class="bg-zinc-600 w-80 min-w-80 h-96 rounded-md  overflow-hidden">
        <div class="w-full bg-[<%= item.bgcolor %>] h-72">
          <img class="w-full h-full object-cover" src="data:image/jpeg;base64, <%= item.image.toString('base64') %>"
            alt="">
        </div>
        <div class="px-5 w-full bg-[<%= item.panelcolor %>] h-12 flex justify-between items-center">
          <h1 class="text-xl font-semibold">
            <%= item.name %>
          </h1>
          <h2>1</h2>
        </div>
        <div class="px-5 w-full bg-[<%= item.textcolor %>] h-12 flex justify-between items-center">
          <h1>Net Total</h1>
          <h1>$ <%= item.price %>
          </h1>
        </div>
      </div>
      <div class="w-full">
        <h1 class="mb-10 text-xl">Price Breakdown</h1>
        <div class="grid grid-cols-2 gap-4 px-8 mb-8">
          <h1>Total MRP</h1>
          <h1>$ <%= item.price %>
          </h1>
          <h1>Discount on MRP</h1>
          <h1>$ <%=Number( item.discount )%>
          </h1>
          <h1>Platform Fee</h1>
          <h1>$ 5</h1>
          <h1>Shipping Fee</h1>
          <h1>FREE</h1>
        </div>
        <hr class="mb-8">
        <div class="grid grid-cols-2 gap-4 px-8">
          <h1>Total Amount</h1>
          <h1>$ <%= Number(item.price-5-Number(item.discount)) %>
          </h1>
        </div>
      </div>
    </div>
    <% }) %>
      </body>

      </html>